body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-rows: auto;
}

header {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 25vh;
    width: 100vw;
    background-color: lightgray;
}

header .title {
    display: grid;
    grid-column: 2 / 5;
    font-size: 48px;
    text-align: center;
}

header .profile-box {
    display: grid;
    grid-column: 5 / 6;
    align-content: center;
}

main {
    height: 55vh;
    position: absolute;
    margin-top: 25vh;
    display: grid;
    grid-row: span;
    margin-left: 10vw;
    margin-right: 10vw;
}

article {
    background-color: bisque;
}

footer {
    height: 20vh;
    width: 100vw;
    bottom: 0%;
    background-color: gray;
    position: absolute;
}

footer p {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}